@media only screen and (max-width: 768px) {
    .cardImg {
      margin-bottom: 0px;
    }
  }

  label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    font-weight: 500;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

input:focus {
  outline: none; /* Elimina el contorno predeterminado de foco */
  /* Aquí puedes agregar otros estilos personalizados si es necesario */
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.adherente {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important; 
    font-weight: bold !important;
    color: #133962 !important; 
}

.sinadherente{
  font-family: 'Roboto', sans-serif !important;
    font-size: 12px !important; 
    font-weight: bold !important;
    color: #133962  !important;
}

.form-container {
  max-height: 400px; /* Altura máxima del contenedor */
  overflow-y: auto;
}

.is-required {
  margin-left: 2px;
  color: red;
  font-weight: bold;
}

.contentInputLabel{
  margin-bottom: 0.5rem;
}

.contentInputLabel2{
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.contentLabel{
  margin-bottom: 0px;
}

.sinadherente {
  background-color: white;
  border-radius: 10px;
  padding: 10px; /* Esto es opcional, pero puede ayudar a mejorar la apariencia */
  border: 1px solid #ddd; /* Un borde ligero para resaltar el contorno */
}

.adherente {
  background-color: white;
  border-radius: 10px;
  padding: 10px; /* Esto es opcional, pero puede ayudar a mejorar la apariencia */
  border: 1px solid #ddd; /* Un borde ligero para resaltar el contorno */
}

.small-input {
  width: 75px; /* Ajusta el tamaño según tus necesidades */
  padding: 0px; /* Ajusta el relleno según tus necesidades */
}

.larger-checkbox {
  width: 20px; /* Ajusta el ancho del checkbox */
  height: 20px; /* Ajusta la altura del checkbox */
}

.custom-link {
  color: white;
  font-weight: bold;
  /* Otros estilos si es necesario */
}


