label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    font-weight: 500;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

.adherente {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important; 
    font-weight: bold !important;
    color: #1fd137 !important; 
}

.sinadherente{
  font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important; 
    font-weight: bold !important;
    color: #e83643  !important;
}